# IDE - IntelliJ IDEA
.idea/

# Maven
target/

# Spring Boot - Archivos con información sensible
application.properties
application-*.properties

# Archivos temporales Linux
*~
*.tmp
*.bak
*.swp
.*.swp
